  
.sidebar{
    background-image: linear-gradient(40deg, #d1c40f,#04caec);
    position: absolute;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}